body {
    background-color: $baseColor;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    overflow: hidden;
    overflow-y: auto;
    align-items: center;
    justify-content: center;

    @media screen and (max-width:800px) {
        background-image: url("/assets/images/clouds1.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}


.notHome {
    background-image: url("/assets/images/clouds1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    display: inherit;
    box-sizing: border-box;
}

.glass-container {
    background: rgba(255, 255, 255, 0.28);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
    border: 1px solid rgba(255, 255, 255, 0.267);
    left: 0;
    height: 100%;
    max-width: 1200px;
    width: 90%;
    margin: auto;
    padding: 20px 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
    border-radius: 4px;



    #navegacion-conent {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;

        @media screen and (max-width:600px) {
            flex-direction: column;
        }

        .main-header {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .header-logo {
            width: 60px;
            height: 60px;
            background-image: url("/assets/images/logo.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            transition: $defaultTransition;

            &:hover {
                transform: scale(1.2);
                transition: $defaultTransition;
                filter: drop-shadow(0 0 5px $baseColor);
                margin-right: 5px;
            }
        }

        .user-info {
            display: flex;
            margin-left: 10px;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            font-size: 12px;
        }

        .nav-items {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;

            @media screen and (max-width:600px) {
                flex-direction: column;
                margin-top: 1rem;
            }

            li {
                padding: 2px 15px;
                margin: 0 3px;
                border-radius: 5px;
                transition: $defaultTransition;

                &:hover {
                    background-color: $baseColor;
                    transition: $defaultTransition;

                    a {
                        text-decoration: none;
                    }
                }

                a {
                    color: $secondaryColorDark;
                }

                @media screen and (max-width:600px) {
                    margin: 5px 0;
                }
            }
        }
    }
}


.glass-container {
    &.content {
        margin-top: 1rem;
        min-height: 72vh;
    }

    &.footer {
        margin-top: 1rem;
        box-sizing: border-box;

        a {
            text-decoration: none;
            color: $secondaryColorDark;
            font-weight: 700;
            transition: $defaultTransition;

            &:hover {
                transition: $defaultTransition;
                font-size: 17px;
            }
        }
    }
}