@function px-to-rem($px-value) {
    @return calc($px-value / 16)+rem;
}

@mixin cloudsEffect() {
    &::before {
        content: "";
        background-image: url("/assets/images/clouds1.png");
        background-repeat: repeat-x;
        background-size: cover;
        width: 200%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: -10rem;
        z-index: -1;
        animation: moveClouds 60s linear infinite;

        @media screen and (max-width:800px) {
            display: none;
        }
    }

    &::after {
        content: "";
        background-image: url("/assets/images/clouds2.png");
        background-repeat: repeat-x;
        background-size: contain;
        width: 300%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0px;
        left: 0;
        z-index: -1;
        animation: moveClouds2 40s linear infinite;
        @media screen and (max-width:800px) {
            display: none;
        }
    }
}

@keyframes moveClouds {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes moveClouds2 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}


@mixin cloudBg() {
    &::before {
        content: "";
        background-image: url("/assets/images/clouds1.png");
        background-repeat: repeat-x;
        background-size: cover;
        width: 200%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: -10rem;
        z-index: -1;
        opacity: 0.7;

    }
}