
$black:#000000;
$white:#ffffff;

$darkColor:#202020;
$lightColor:#f1f1f1;

$baseColor:#7ab3f2;

$mainColor:#45B1D1;
$secondaryColor:#3577BC;
$secondaryColorDark:#222C5C;


$disabledDark:#dbdbdb;

$alternativeColor:#FF9800;



$defaultTransition:all 300ms ease;